@model IEnumerable<JS.Chat.Domain.Models.TMessage>
@{
    var userName = User.Identity.Name;
}
<input type="hidden" id="hdUserName" value="@userName" />
@if (Model.Any())
{<div class="row h-100">
        <div class="col-md-12 h-100">
            <div class="box box-primary direct-chat direct-chat-primary h-100">
                <div class="box-body h-100">
                    <div id="chat" class="direct-chat-messages h-100">

                        @foreach (var message in Model)
                        {
                            if (userName == message.UserName)
                            {
                                <div class="direct-chat-msg left">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">@message.UserName</span>
                                        <span class="direct-chat-timestamp pull-right">@message.DateMessage</span>
                                    </div>
                                    <img class="direct-chat-img" src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg">
                                    <div class="direct-chat-text">
                                        @message.Message
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-right">@message.UserName</span>
                                        <span class="direct-chat-timestamp pull-left">@message.DateMessage</span>
                                    </div>
                                    <img class="direct-chat-img" src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg">
                                    <div class="direct-chat-text">
                                        @message.Message
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="box-footer">
                    <div class="input-group">
                        <input type="text" id="messageInput" placeholder="Type Message..." class="form-control">
                        <span class="input-group-btn">
                            <button id="sendButton" type="button" class="btn btn-primary btn-flat">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger">No Messages.</div>
}
<script src="~/js/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
